.footer-top {
  @include md {
    padding-bottom: 0;
    padding-top: 24px;
    position: relative;
  }
}

.link {
  a {
    white-space: nowrap;
  }
  @include md {
    display: none;
  }
}

.social {
  img {
    width: 48px;
  }
  @include lg {
    li {
      margin-right: 0px;
      margin-left: 16px;
    }
  }
  @include md {
    float: inline-end;
    position: absolute;
    top: 24px;
    right: 0;
    img {
      width: 24px;
    }
  }
}
@include md {
  .font-lg {
    font-size: 16px;
  }
}

.footer-copyright {
  @include md {
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .copyright {
    @include md {
      margin-bottom: 8px;
    }
  }
  .policy {
    @include md {
      display: block;
      li {
        margin-bottom: 8px;
      }
    }
  }
}
