.container {
  max-width: 1296px;
  &-contactUs {
    max-width: 636px;
  }
}

.banner {
  background-size: cover;
}

.feature {
  img {
    width: 100px;
  }
  &-list-card {
    width: 25%;
  }
}

.classic {
  &-list-card {
    width: 33.3%;
  }
}

.co-branding {
  background-size: cover;
}

.recommendation {
  &-list-card {
    width: 25%;
    border-radius: 1%;
    box-shadow: 0px 2px 6px #000000;
  }
}
