.container-contactUs {
  max-width: 636px;
  @include lg {
    max-width: 576px;
  }
  @include md {
    max-width: 348px;
  }
}

.banner {
  background-size: cover;
  background-position: center center;
}

.feature {
  img {
    width: 100px;
  }
  &-list-card {
    width: 20%;
    @include lg {
      width: 40%;
      margin-right: 0;
      .h6 {
        text-align-last: left;
      }
    }
    @include md {
      width: 100%;
    }
  }
}

.classic {
  img {
    width: 336px;
  }
  &-list-card {
    width: 30%;
    @include lg {
      width: 100%;
      margin-right: 0;
      margin-bottom: 24px;
    }
  }
}

.co-branding {
  background-size: cover;
  &-list-card {
    width: 50%;
    margin-bottom: 24px;
    @include lg {
      width: 90%;
    }
    @include md {
      width: 100%;
    }
  }
}

.recommendation {
  &-list-card {
    width: 23%;
    border-radius: 1%;
    box-shadow: 0px 2px 6px #000000;
    @include lg {
      width: 45%;
      margin-right: 0;
      margin-bottom: 24px;
    }
    @include md {
      width: 100%;
      margin-right: 0;
      margin-bottom: 24px;
    }
  }
}
.contactUs-list-card {
  @include lg {
    padding: 0;
    button {
      padding-left: calc(40%);
      padding-right: calc(40%);
      width: auto;
    }
  }
}
